#img-bg{

  background-image: url('https://i.imgur.com/l66CFaL.png');
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  }

  .bg-fundo {

    background-image: url('https://i.imgur.com/1bS3WlZ.jpg');
  min-height: 569px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .sombra{

    box-shadow: 2px 2px 10px #7b7974;
  }



  /*Fontes da pagina*/
  h1{

    font-family: fantasy

  }

  label{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  placeholder{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


